.footer{
    background-color: rgb(78, 86, 158);
    display: flex;
    margin-top: 236px;
    width: 100%;
    height: 38px;
    justify-content: space-between;
    align-items: center;
    color: black;
    
     /* display: flex;
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 38px;
     justify-content: space-between;

     background-color: rgb(78, 86, 158);
     color: black;
     text-align: center; */
  
}
.footer a{
    color: black;
    padding: 4px;

}

.copyright{
    vertical-align:top;
    margin-right: 0.5em;
    padding-left: 3%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.social-media{
    display: flex;
    float: left;
    margin:25px;
    font-size: 20px;

}

